{% extends '::base.html.twig' %}

{% block body %}

<form action="{{ path('update') }}" method="POST">
    {{ form_errors(form) }}

    {{ form_row(form.vendorName) }}
    {{ form_row(form.vendorIndustry) }}
    {{ form_row(form.vendorMultiLocation) }}

    {{ form_rest(form) }}

    <input type="submit" value="Update" />
</form>

{% endblock %}